body {
  margin-top: 50px;
}

h2 {
  text-align: center;
  color: var(--khaki-web);
  font-size: 28px;
}

#register {
  display: flex;
  justify-content: center;
}

#register form {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: 5%;
  background: linear-gradient(180deg, var(--tea-green), var(--tea-green-2));
  padding: 100px;
  height: 150px;
}

#register form div input {
  margin-top: 35px;
  font-size: 24px;
  border: none;
}

#register form button {
  font-size: 20px;
  width: 100%;
}

#back, #register form button {
  border: none;
  background: var(--cedar-chest);
  font-weight: 500;
  opacity: 0.4;
}

#back:hover, #register form button:hover {
  transition: 200ms;
  opacity: 1;
}

#register-btn {
  color: var(--cedar-chest);
  text-decoration: none;
  background-color: var(--gray-x-11-gray);
}